<footer class="footer sticky-bottom py-3  mt-auto" style="background-color: #f8c90d;">
    <div class="container">
        <span class="text-muted">&copy; Ohio State University Flea Market 2022 Vivian Lu</span>
    </div>
</footer>