<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home page <%='hello world'.toUpperCase() %>
    </h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error officiis accusamus deserunt nesciunt facilis
        nostrum corrupti aperiam ea ab, libero accusantium, in ex recusandae. Corrupti pariatur assumenda sequi quasi
        iure.</p>


    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam corporis possimus, laboriosam nulla dolor culpa
        laborum eius ex hic cum aspernatur quo, quaerat sit voluptatum quisquam accusantium distinctio consectetur.
        Vero?
        Nostrum veritatis nam ducimus repudiandae? Exercitationem iusto voluptatum quisquam enim deserunt blanditiis
        rerum suscipit quaerat ad, porro saepe maxime doloremque ipsa, voluptas accusamus sit. Mollitia dolore ipsum
        magni nemo quo.
        Quod laboriosam iure facere dignissimos ex omnis distinctio. Distinctio voluptatibus recusandae, aperiam
        molestiae, suscipit cum dolorum adipisci, asperiores ea neque aut saepe sequi tenetur repellendus consectetur
        rerum veritatis magnam! Error!</p>
</body>

</html>